html{
	position: relative;
}

body{
	margin-bottom: 50px;
	margin-top: 30px;
}

.jumbotron{
	background-image: url("../img/header-bg.png");
	background-position: 0 -100px;
	background-attachment: fixed;
	background-size: cover;
	color: #eaeaea;
}

.jumbotron img{
	border: 4px solid #eaeaea;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p{
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.about p{
	text-align: justify;
}

hr{
	width: 200px;
	border-top: 3px solid #ccc;
}


section{
	min-height: 600px;
}

.portofolio{
	background-color: #eee;
}

.contact{
	min-height: 800px;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: #333;
	color: #fff;
	height: 50px;
	line-height: 50px;
}